#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
CFLAGS+=$(CPPFLAGS)
CXXFLAGS+=$(CPPFLAGS)

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_auto_clean:
	./scripts/uninstall_swapper-all.py -y --no-uninstall --no-sudo

override_dh_auto_configure:
	./scripts/priv/pk_install_swapper-all.py -b=Release -s=Off -t=Off -d=Off --installdir=/usr --no-make --no-install --no-sudo --no-man
# 	mkdir ../libswapper/build
# 	pushd ../libswapper/build
# 	LD_LIBRARY_PATH=${DESTDIR}/usr PKG_CONFIG_PATH=${DESTDIR}/usr/pkgconfig LIBRARY_PATH=${DESTDIR}/usr cmake -D CMAKE_INSTALL_PREFIX=/usr -D CMAKE_BUILD_TYPE=Release -D BUILD_SHARED_LIBS=ON -D BUILD_TESTING=ON -D BUILD_DOCS=OFF ..
# 	popd

override_dh_auto_build:
	./scripts/priv/pk_install_swapper-all.py -b=Release -s=Off -t=Off -d=Off --installdir=/usr --no-configure --no-install --no-sudo --no-man

#
override_dh_auto_install:
	./scripts/priv/dd_install_swapper-all.py -b=Release -s=Off -t=Off -d=Off --installdir=/usr --no-configure --no-make --no-sudo --no-man

#
override_dh_auto_test:

#
